/* Header */
.header {
	display: inline-block;
}
.buscador {
	border: 1px solid gray;
}
header img {
	width: 30%;
	min-width: 300px;
}

/* Seccion principal */
.principal {
	width: 100%;
	min-width: 960px;
}
.principal img {
	width: 100%;
	min-width: 960px;
}

.textoPrincipal {
	border: 1px solid black;
}

/* Seccion secundaria */
.afiche {
	width: 100%;
}

/* Seccion video */
iframe {
	width: 100%;
	height: 50%;
}